# systemd config for sd-docker-plugin
[Unit]
Description=sheepdog Docker VolumeDriver Plugin
Wants=docker.service
Before=docker.service

[Service]
ExecStart=/home/ops/bin/sd-docker-plugin --create --plugins /run/docker/plugins
Restart=on-failure
# NOTE: this kill is not synchronous as recommended by systemd *shrug*
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
